<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="javascript:void(0)" routerLink="/employees">Machine Test</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>  
</nav>
<div class="jumbotron">
    <div class="container text-center">
        <h1>Employee Details with Angular Lazy Loading routing</h1>
        <p>This application is Employee management application using this you can add or view employee details!</p>
        <h5>Machine Test:</h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">1. Use Angular js/angular to perform test.</li>
            <li class="list-group-item">2. Create Project structure.</li>
            <li class="list-group-item"> 3. Create angular form having all possible input types. radio,text, checkbox,file
                browse etc. Perform validation for input fields.
            </li>
            <li class="list-group-item">4. Use Grid system to show data submitted from form.</li>
            <li class="list-group-item"> 5. View should responsive for mobile and desktop/laptop.</li>
            <li class="list-group-item"> 6. Create Gitlab/Github repository and publish the code and share with us.</li>
        </ul>
    </div>
</div>
