<div class="row justify-content-center">
  <button type="button" class="btn btn-primary" (click)="openModal(template)">Add Employee</button>

</div>

<br />
<br />


<table class="table table-responsive" *ngIf="employeeDetails.length != 0; else alert">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Mobile</th>
      <th scope="col">Address</th>
      <th scope="col">Is-Working</th>
      <th scope="col">Technology</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of employeeDetails; let i=index">
      <th scope="row">{{i+1}}</th>
      <td>{{row.fName}}</td>
      <td>{{row.lName}}</td>
      <td>{{row.mobile}}</td>
      <td>{{row.address}}</td>
      <td>{{row.isWorking}}</td>

      <!-- <td>{{row.}}</td> -->
    </tr>   
  </tbody>
</table>

<ng-template #alert>
    <div class="alert alert-danger" role="alert">
        Please add new employee!
      </div>
</ng-template>

<ng-template #template>
  <app-add-employee (saveData)="saveData($event)" (onClose)="execOnClose($event)"></app-add-employee>
</ng-template>
