<div class="row justify-content-center">
    <button type="button" class="btn btn-primary" (click)="openModal(template)">Add Employee</button>
</div>
<br />
<br />
<table class="table table-responsive" *ngIf="employeeDetails.length != 0; else alert">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Mobile</th>
            <th scope="col">Address</th>
            <th scope="col">Is-Working</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of employeeDetails; let i=index">
            <th scope="row">{{i+1}}</th>
            <td>{{row.fName}}</td>
            <td>{{row.lName}}</td>
            <td>{{row.mobile}}</td>
            <td>{{row.address}}</td>
            <td>{{row.isWorking}}</td>
            <td>
                <i class="fa fa-eye" style="font-size:18px; cursor: pointer; color: brown"
                    (click)="viewTechnicalKnowledge(techKnowledge, row)"></i>
                &nbsp;&nbsp;
                <i class="fa fa-trash" style="font-size:18px; cursor: pointer; color: red"
                    (click)="deleteEmployee(i)"></i>
            </td>
        </tr>
    </tbody>
</table>
<ng-template #alert>
    <div class="alert alert-danger" role="alert">
        Please add new employee!
    </div>
</ng-template>
<ng-template #template>
    <app-add-employee (saveData)="saveData($event)" (onClose)="execOnClose($event)"></app-add-employee>
</ng-template>
<ng-template #techKnowledge>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{technicalKnowledge.fName}} Technical Knowledge</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <ul class="list-group">
            <li class="list-group-item d-flex  align-items-center" *ngFor="let tech of technicalKnowledge.technologies">
                <span class="badge badge-primary badge-pill">{{tech.id}}</span>&nbsp;&nbsp;{{tech.name}}
            </li>
        </ul>
    </div>
</ng-template>